@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header: 56px;
    --footer: 64px;
    --bg: #191013;
    --primary: #cdb2bb;
    --secondary: #281a1f;
    --accent: #a06e80;
}

@layer utilities {
    .snap {
      scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
    }
    .snap-y {
      --scroll-snap-direction: y;
    }
    .snap-mandatory {
      --scroll-snap-constraint: mandatory;
    }
    .snap-start {
      scroll-snap-align: start;
    }
}

body {
    background-color: var(--bg);
    color: #f3ecef;
}