---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-slate-800">
		<Header isMainPage={true} />
		<main class="container px-2 mx-auto h-[calc(100vh-120px)] flex justify-center items-center">
			<div class="m-auto text-white flex flex-col md:flex-row gap-y-2 gap-x-3 md:gap-y-0">
				<img class="mx-auto md:mx-0 aspect-square flex-shrink-0 h-36 w-36 rounded-full overflow-hidden" src="https://avatars.githubusercontent.com/u/72644753?v=4" alt="Github profile picture">
				<div class="flex-col">
					<div class="max-w-xs">
						<h1 class="text-3xl">Hey there! 👋</h1>
						<p>Welcome to my website! My name is Bryan but most people online call me <span class="font-semibold">tlkh40</span>.</p>
					</div>
					<a href="https://github.com/tlkh40" class="bg-gray-700 rounded-md hover:scale-105 transition ease-in-out duration-100 text-white block text-center p-3 mt-2">Github</a>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
