---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
type Props = {
	isMainPage?: boolean;
};

const { isMainPage = false } = Astro.props;
---

<header class="w-screen px-2 mx-auto my-2 text-white container">
	<h2 class:list={[{"text-3xl": !isMainPage }, "font-semibold"]}>
		{SITE_TITLE}
	</h2>
	<nav class="flex flex-row gap-x-2">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">About me</HeaderLink>
	</nav>
</header>